<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Contact page</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>This is the Contact page that is generated in ionic sidemenu project</p>
        </ion-card-content>
      </ion-card>
</ion-content>
